.country {
  display: flex;
  background-color: var(--page-background);
  color: var(--font-color);

  &.hide {
    display: none;
  }

  &__name {
    font-weight: 800;
    font-family: $font-nunito;
  }

  &__button {
    width: 100px;
    padding: 5px;
    margin: 30px 0 0 100px;
    background-color: var(--primary-background);
    box-shadow: 0px 0px 6px 0px var(--box-shadow-color);
    border: none;
    color: var(--font-color);
    border-radius: 5px;

    &.hide {
      display: none;
    }
  }

  &__image {
    max-width: 40%;
    padding: 70px 0 0 30px;
    margin-left: 70px;

    &__flag {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 120px;
    margin-left: 100px;
    margin-right: 80px;

    &__data {
      display: flex;
      justify-content: space-between;
      font-family: $font-nunito;

      &__left,
      &__right {
        flex: 0 0 50%;

        span {
          font-weight: 800;
        }
        p {
          margin: 10px 0;
        }
      }
    }

    &__border {
      font-family: $font-nunito;
      margin-top: 50px;

      :nth-child(1) {
        font-weight: 800;
      }

      &__country {
        display: inline-block;
        font-weight: 400;
        box-shadow: 0px 0px 6px 0px var(--box-shadow-color);
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}
