.countries {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 80px;
  font-family: $font-nunito;
  background-color: var(--page-background);
  color: var(--font-color);

  &.hide {
    display: none;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__wrapper {
      position: relative;

      &__input {
        width: 340px;
        height: 50px;
        padding: 0 70px;
        border: none;
        box-shadow: 0px 0px 6px 0px var(--box-shadow-color);
        background-color: var(--primary-background);
        color: var(--font-color);

        &::placeholder {
          color: var(--font-color);
        }
      }

      .fa-search {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
      }
    }

    &__dropdown {
      width: 200px;
      height: 50px;
      padding-left: 20px;
      border: none;
      box-shadow: 0px 0px 6px 0px var(--box-shadow-color);
      background-color: var(--primary-background);
      color: var(--font-color);
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;

    &__card {
      display: flex;
      flex-direction: column;
      width: calc(25% - 60px);
      margin: 30px;
      box-shadow: 0px 0px 6px 0px var(--box-shadow-color);
      background-color: var(--primary-background);

      &.hidden {
        display: none;
      }

      img {
        width: 100%;
      }

      &__name {
        padding: 20px 20px 0 20px;
        font-weight: 800;
        font-family: $font-nunito;
        font-size: 18px;
        margin: 0;
      }

      &__data {
        padding: 20px;
        font-family: $font-nunito;

        span {
          font-weight: 800;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
