//colors
$blue: hsl(209, 23%, 22%);
$dark-blue: hsl(207, 26%, 17%);
$very-dark-blue: hsl(200, 15%, 8%);

$dark-gray: hsl(0, 0%, 52%);
$light-gray: hsl(0, 0%, 98%);

// primary colors

:root {
  --primary-background: white;
  --page-background: hsl(0, 0%, 98%);
  --font-color: black;
  --box-shadow-color: rgba(133, 133, 133, 0.4);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: var(--page-background);
}
